[submodule "zsh/.zsh.d/zsh-syntax-highlighting"]
	path = zsh/.zsh.d/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh.d/zsh-completions"]
	path = zsh/.zsh.d/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.zsh.d/zsh-autosuggestions"]
	path = zsh/.zsh.d/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh.d/zsh-autocomplete"]
	path = zsh/.zsh.d/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
