[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh.d/zsh-syntax-highlighting"]
	path = zsh.d/zsh-syntax-highlighting
	url = github:/zsh-users/zsh-syntax-highlighting
[submodule "zsh.d/zsh-completions"]
	path = zsh.d/zsh-completions
	url = github:/zsh-users/zsh-completions
[submodule "zsh.d/zsh-autosuggestions"]
	path = zsh.d/zsh-autosuggestions
	url = github:/zsh-users/zsh-autosuggestions
